*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
animal/libs/
apilibrary/libs/
apilibrary/src/main/res/drawable/
app/libs/
lib/libs/
.idea/vcs.xml
